.dashboard-graph{
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 24px;

}

.distance-graph {

    padding: 16px 40px 24px;

    width: 445px;
    height: 484px;

    background: #FFFFFF;

    box-shadow: 0 4px 84px -40px rgba(157, 167, 251, 0.4);
    border-radius: 10px;

    align-items: center;
}

.km-graph-title {
    gap: 16px;
    align-items: baseline;
    margin-bottom: 32px;
}
.km-graph {

    margin-top: 16px;

}
.km-graph-selector{

    justify-content: center;
    align-items: center;
    padding: 14px 4px;
    gap: 3px;

    margin: 0 auto;
    width: 156px;
    height: 52px;

    border-radius: 10px;
}
.km-title-container{
    gap: 16px;
    align-items: center;

}

.arrow-container-selector{

    justify-content: center;
    align-items: center;
    padding: 0;

    width: 24px;
    height: 24px;

    background: #FFFFFF;
    border: 1px solid #717171;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.arrow-container-selector:hover{
    background: var(--txt-lightblue);
}
.arrow-container-selector:active{
    background: var(--txt-lightgrey);
}

.heart-graph{
    padding: 16px 40px 24px;
    gap: 16px;

    width: 583px;
    height: 484px;

    /* White */
    background: #FFFFFF;
    /* cards */
    box-shadow: 0 4px 84px -40px rgba(157, 167, 251, 0.4);
    border-radius: 10px;
}
.heart-graph-title{
    gap: 16px;
    align-items: baseline;
    margin-bottom: 32px;
}
.heart-title-container{
    gap: 170px;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}
.heart-graph-selector{

    justify-content: center;
    align-items: center;
    padding: 14px 4px;
    gap: 3px;

    margin: 0 auto;
    width: 156px;
    height: 52px;

    border-radius: 10px;
}
.heart-graph-container {
    width: 500px;
    margin-top: 16px;

}