
.headerprofile{

    justify-content: space-between;
    align-items: center;
    padding: 32px 52px;
    gap: 160px;

    width: 1052px;
    height: 181px;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -8.38%, #FFFFFF 100%);
    border-radius: 20px;

}
.profile-infos{

    align-items: center;
    padding: 0;
    gap: 38px;

    width: fit-content;
    height: 117px;


}
.profile-info{
    align-items: flex-start;
    width: 240px;
}

.profilepic{

    width: 105px;
    height: 120px;
    border-radius: 10px;

    object-fit: cover;
}

.header-distance{
    align-items: center;
    padding: 0;
    gap: 18px;

    width: 500px;
    height: 90px;
}
.distance-rectangle{
    padding: 28px 27px;
    gap: 19px;

    align-items: center;

    width: fit-content;
    height: 90px;

    background: #0B23F4;
    border: 1px solid #0B23F4;
    border-radius: 10px;
}
.distance-label{
    width: 171px;
}
.totale-distance{
    width: 100px;

}
