.footer-container {

    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    gap: 831px;

    height: fit-content;

    background: #FFFFFF;


}

.footer-right{
    align-items: center;
    padding: 0;
    gap: 16px;

}