@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --font: 'Inter';

    --bg-leftsplit: #F5F3EF;
    --bg-lightblue: #F2F3FF;

    --txt-blue :#0B23F4;
    --txt-black : #111111;
    --txt-lightgrey: #707070;
    --txt-white: #FFFFFF;
    --txt-lightblue: #B6BDFC;
    --txt-red: #F4320B;
    --txt-lightred: #FCC1B6;

    --btn-lightblue: #5465F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-family: var(--font), sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    color: var(--txt-blue);
}
h4{
    font-family: var(--font), sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.bg-lightblue{
    background-color: var(--bg-lightblue);
}
.bg-blue{
   background-color: var(--txt-blue);
}

.blue{
    color: var(--txt-blue);
}
.red{
    color: var(--txt-red);
}
.lightred{
    color: var(--txt-lightred);
}
.lightblue{
    color: var(--txt-lightblue);
}
.black{
    color: var(--txt-black);
}
.lightgrey{
    color:  var(--txt-lightgrey)
}
.white{
    color: var(--txt-white)
}

.body{

    font-family: var(--font), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;


}
.body-large{

    font-family: var(--font), sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
}
.body-small{
    font-family: var(--font), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.body-caption text{
    font-family: var(--font),sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

}

.flip{

    transform: rotateY(180deg);

}

.left-align{
    text-align: left;
}

.input-section{
    width: 100%;
    gap: 8px;

}
.input-form{

    width: 100%;
    height: 58px;
    box-sizing: border-box;

    background: #FFFFFF;
    border: 0.5px solid #717171;
    border-radius: 10px;

    text-align: left;
    color: #111111;

    padding-left: 16px;

}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center{

    align-items: center;

}

.flex-start{
    align-items: flex-start;
}

.error404{
    justify-content : space-evenly;
    height: calc(100vh - 150px);

}

#root{
    height: 100%;


}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.consection{
    height: 100%;
}

.splitintwo {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 44fr 56fr;
    background: var(--bg-leftsplit);
    place-items: center;

}

.loginform{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F2F3FF;

    gap: 150px;

}
.conlogo{
    margin-top: 25px;
    width: 400px;
    align-items: flex-start;
}
.conform{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 80px;
    gap: 40px;

    width: 400px;

    margin-bottom: 80px;

    background: #FFFFFF;
    border-radius: 20px;
}
.connect-button{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;

    gap: 10px;

    width: 100%;
    height: 51px;

    background: var(--txt-blue);
    border-radius: 10px;
    color : var(--txt-white);
    border: none;
    outline: none;

    transition: background-color 0.3s ease;
}
.connect-button:hover{
    background: var(--btn-lightblue);

}

.imgsplit{
    height: 100%;
    overflow: hidden;
}
.runnerimg{
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}