.customToolTip{
    position: absolute;

    align-items: flex-start;
    justify-content: center;

    width: 120px;
    height: 82px;

    transform: translate(-50%, -100%);

    padding: 10px 12px;

    border-radius: 8px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: var(--txt-black);
}
